*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffff;
	/*height: 900vh;*/
	overflow-x: hidden;

}

@font-face {
	font-family: futurabold;
	src: url(futura/FuturaPTBold.otf) format("opentype");
}

@font-face {
	font-family: futuralight;
	src: url(futura/FuturaPTLight.otf) format("opentype");
}


@font-face {
	font-family: futurabook;
	src: url(futura/FuturaPTBook.otf) format("opentype");
}

@font-face {
	font-family: futuramedium;
	src: url(futura/FuturaPTMedium.otf) format("opentype");
}


/*___________________nav_________________*/


.nav .navbg {
	z-index: 10;
	margin-top: 3.5vh;
	position: fixed;
	height: 9vh;
	width: 85%;
	background-color: #FCFCFC;
	opacity: 0.9;
	margin-left: 7.5%;
	border-style: none;
	border-radius: 40px;
	border: 1px solid #EFF0F0;
	border-bottom: 3px solid #EFF0F0;
	}

.nav img {
	z-index: 10;
	margin-top: 5.4vh;
	position: fixed;
	height: 5vh;
	/*width: 85%;*/
	margin-left: 8.5%;
	width: 6%;
	cursor: pointer;
}

.nav .elements ul{
	z-index: 10;
	display: flex;
	position: fixed;
	margin-top: 5.5vh;
	margin-left: 14.5%;

}

.nav .elements ul li{
	list-style: none;
	
	text-transform: capitalize;

}

.nav .elements ul li a{
	text-decoration: none;
	color: rgba(31,31,31,.6);;
	display: block;
    padding: .4rem 1.2rem;
	transition: color .2s ease-in-out;
    font-weight: 600;
    font-family: futurabook;


}

.nav .elements ul li a:hover {
	color: black;
}

.nav .elements ul li a i{
	width: 0px;
	margin-left: 2px;
	
	height: 1px;
}

/*__________________________rightnav___________________*/


.nav .right ul{
	z-index: 10;
	display: flex;
	position: fixed;
	margin-top: 5.5vh;
	margin-left: 82%;

}

.nav .right ul li{
	list-style: none;
	text-transform: capitalize;

}

.nav .right ul li a{
	text-decoration: none;
	color: rgba(31,31,31,.6);;
	display: block;
    padding: .4rem 0.6rem;
	transition: color .2s ease-in-out;
    font-weight: 600;
    font-family: futurabook;


}

.nav .right ul li a :hover {
	color: black;
}


.nav .dropdown {
	display: none;
}
/*__________________________rightnav___________________*/
/*___________________nav_________________*/






/*_____________________slidder_______________________*/
.slider {
  position: relative;
  height: 100vh; 
	}

  .slider__slides {
    z-index: 1;
    position: relative;
    height: 100%;
    }

  .slider__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    background-color: transparent; 
    transition: background-color 0.3s;
    cursor: pointer; 
	}

    .slider__control--right {
      left: 95%; 
  	}
    .slider__control:hover {
      background-color: black;
     }

    .slider__control-line {
      position: absolute;
      left: 23px;
      top: 50%;
      width: 3px;
      height: 14px;
      transform-origin: 50% 0;
      transform: rotate(-45deg); 
  	}

      .slider__control-line:nth-child(2) {
        transform: translateY(1px) rotate(-135deg); }
      .slider__control--right .slider__control-line {
        left: 37px;
        transform-origin: 1px 0;
        transform: rotate(45deg); }
        .slider__control--right .slider__control-line:nth-child(2) {
          transform: translateY(1px) rotate(135deg); }
      .slider__control-line:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #e2e2e2;
        transition: background-color 0.3s; }
      .slider__control:hover .slider__control-line:after {
        background-color: #e2e2e2; }
      .slider__control.a--rotation .slider__control-line:after {
        animation: arrowLineRotation 0.49s; }
      .slider__control.a--rotation .slider__control-line:nth-child(1):after {
        animation: arrowLineRotationRev 0.49s; }

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg); } }
@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg); } }
.slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: clip-path 0s 0.91s;
  clip-path: circle(30px at 120vw 50%); }
  .slide.s--prev {
    clip-path: circle(30px at 30vw 50%); }
  .slide.s--active {
    z-index: 1;
    transition: clip-path 1.3s;
    clip-path: circle(120vmax at 120vw 50%); }
    .slide.s--active.s--active-prev {
      clip-path: circle(120vmax at 30vw 50%); }
  .slide:nth-child(1) .slide__inner {
    background-image: url("http://markup.themewagon.com/tryfreya/assets/images/header_1.jpg"); }
  .slide:nth-child(2) .slide__inner {
    background-image: url("http://markup.themewagon.com/tryfreya/assets/images/header_2.jpg"); }
  .slide:nth-child(3) .slide__inner {
    background-image: url("http://markup.themewagon.com/tryfreya/assets/images/header_3.jpg"); }
  .slide:nth-child(4) .slide__inner {
    background-image: url("http://markup.themewagon.com/tryfreya/assets/images/header_1.jpg"); }
  .slide:nth-child(5) .slide__inner {
    background-image: url("http://markup.themewagon.com/tryfreya/assets/images/header_3.jpg"); }
  .slide__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center; } 
    .slide__inner:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      /*background: rgba(0, 0, 0, 0.3); */
  }
  .slide__content {
    position: absolute;
    left: 5%;
    top: 50%;
    margin-left: -30px;
    margin-top: 48px;
    /* max-width: 480px; */
    color: #fff; 
    display:	flex;
    margin-left: 55px;
		margin-top: 11rem;
		width: 90vw;
    }

    .grad {
    	z-index: 11;
    	margin-top: 70vh;
    	height: 30vh;
    	width: 100%;
    	background-image: linear-gradient(to bottom, transparent, black);
    	opacity: 1;
    }

	/*.textbox {


	}

	.buttonbox {
		
	}*/
  

  .slide__text {
     margin-bottom: .25rem;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-size: 1rem;
   margin-top: 0;
   color: #fff;
   line-height: 1.45;
   font-family: "Nunito";
   font-weight: 400;
   
    }
  

  .slide__heading {
   margin-bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 3.15733rem;
    font-family: futurabook;

	}

	.butn {
		letter-spacing: .1em;
		text-transform: uppercase;
		color: #fff;
		background-image: none;
    	background-color: transparent;
    	border: 3px solid #fff;
    	font-family: futuralight;
    	font-weight: 600;
    	font-size: .75019rem;
    	border-radius: 0;
    	transition: all .2s ease-in-out;
    	line-height: 1.5;
    	text-align: center;
    	height: 2rem;
    	width: 11rem;
			margin-left: 35rem;
			margin-top: 4rem;
    	/*border-style: none;*/
    	cursor: pointer;
	}

	.butn3 {
		margin-left: 30rem;
	}

	.butn5 {
		margin-left: 30rem;
	}

	.butn:hover {
		color: black;
		background-color: white;
	}
  


/*# sourceMappingURL=main.css.map */



/*_____________________slidder_______________________*/


/*_____________________TEXT________________________*/

.text {
	display: block;
	width: 65%;
	margin:auto;
	text-align: center!important;
	 margin-top: 17vh;
}

.text h1{
	font-family: futuralight;
	line-height: 1.2;
	    margin-bottom: 1.8rem!important;
	    color: #1f1f1f;
	        font-weight: 300;
	        /*text-align: center;*/
	       margin: 0px 0px 28.8px;
	       font-size: 2.36859rem;
}

.text p {
	font-size: 1rem;
	    margin-top: 0;
   margin-bottom: 5rem!important;
    color: #555;
    font-family: Nunito;
    /*font-weight: 600;*/


}

/*_____________________TEXT________________________*/

/*___________________Images__________________*/

.images1{
	display: flex;
	margin-left: 15.5vh;
}
.img1, .img2, .img3 {
	padding: 16px;

}


.images1 h2 {
	margin-top: 1.8rem;
	margin-bottom: 1rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #1f1f1f;
	font-size: 1.333rem;
    font-family: futurabook;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.images1 p {
	text-align: justify;
	    font-size: 1rem;
	    margin-top: 0;
    margin-bottom: 1rem;
    color: #555;
    line-height: 1.45;
    font-family: "Nunito";
    width: 350px;
}

.images2, .images3, .images4, .images5  {
	margin-left: 14vh;
}

.flex1 {
	display: flex;
	flex-wrap: nowrap;
	width: 100vh;
	margin-bottom: 30px;

}

.flex1 img {
	margin-left: 30px;
}

.images2 .img3 {
	padding-left: 29px;
}

.images3 .img1 {
	padding-left: 30px;
	padding-bottom: 20px;
}

.images5  {
 	margin-left: 12vh;
}
.images5 .flex1{
	padding-top: 40px;
	padding-bottom: 0px;
	margin-bottom:  0px;

} 


.images5 .img3 {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 120px;
}


/*___________________Images__________________*/

/*__________________footer________________*/
.footer {
	width: 100%;
	display: block;
}

.footer .grey {
	height: 13vh;
	background-color: #E1E1E1;
}

.grey .footicon ul{
	display: flex;
	/*position: fixed;*/
	/*margin-top: 8.5vh;*/
	padding-top: 27px;

	justify-content: center;
}

.grey .footicon ul li{
	list-style: none;
	text-transform: capitalize;


}

.grey .footicon ul li a{
	text-decoration: none;
	color: #404040;
	display: block;
    padding: .4rem 0.6rem;
	transition: color .2s ease-in-out;
    font-weight: 600;
    font-family: futurabook;
    font-size: 20px;


}

.grey .footicon ul li a :hover {
	color: black;
}


.footer .black {
	height: 20vh;
	background-color: #161820;
}

.black {
	display: block;
	text-align: center;
	padding-top: 70px;
}
.black h1 {
	margin-bottom: 1rem;
    color: #e1e1e1;
    letter-spacing: 2px;
    font-size: 1rem;
    font-family: sans-serif;
        font-weight: 400;
}

.black p {
	    font-weight: 400;
	    color: #6A6A6A;
	    font-family: sans-serif;
}

.black span:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*__________________footer________________*/

/*_____________________banner___________________*/

.banner1, .banner2, .banner3, .banner4 {
	height: 80vh;
	background-position: center;
	background-size: cover;
	margin-top: 20vh;
	background-color: #808080;
	background-blend-mode: multiply;
	background-attachment: fixed;

}

.banner1 {
	background-image: url("http://markup.themewagon.com/tryfreya/assets/images/banner_1.jpg");
}
.banner2 {
	background-image: url("http://markup.themewagon.com/tryfreya/assets/images/banner_2.jpg");
}
.banner3 {
	background-image: url("http://markup.themewagon.com/tryfreya/assets/images/banner_3.jpg");
}
.banner4 {
	background-image: url("http://markup.themewagon.com/tryfreya/assets/images/banner_4.jpg");
}

.btext {
	display: block;
	text-align: center;
	padding-top: 27vh;
}
.btext h1 {

	margin-bottom: 1rem;
	color: #fff;
	font-size: 5.61023rem;
	font-weight: 300;
	font-family: futuralight;
	line-height: 1;
}

.btext h2 {
	color: #e1e1e1;
	letter-spacing: 2px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.77689rem;
	font-family: futuralight;
	line-height: 1.2;
}



/*_____________________banner___________________*/

/*___________________responsive_______________________*/

@media only screen and (max-width: 600px) {
 
 html{
	 overflow-x: hidden!important;
 }

 .nav .navbg {
 	width:22.8rem;
 	margin-top: 4vh;
 	height: 3rem;
 	margin-left: 0;
 	border-radius: 300px;
 	position: fixed!important;
 }

 .nav img{
 	height: 2rem;
 	width: 4rem;
 	margin-left: 1rem;
 	margin-top: 2.2rem;

 }

 .nav .elements ul {
 	display: none;
 }

 .nav .right ul .notr {
 	display: none;
 }

.nav .dropdown {
	display: block;
}

.nav .dropdown a {
	font-size: 25px;
	margin-top: 0px!important;
	padding-top: 0px!important;	
}

.slide__content {
	margin-top: 3rem;
	margin-left: 0rem;

}

.butn {
	margin-top: 1.5rem;
}

.text {
	width: 95%;
	margin-top: 4rem;
}

.images1{
	display: block;
	margin-left: 0%;
	width: 100vw;
	margin-right:0%;
	padding-left: 0%;
}

.images2, .images3, .images4, .images5 {
	margin-left: 0%;
	padding-left: 0%;
}

.flex1 {
	display: block;
	margin-bottom: 0%;
}

.flex1 img {
	margin-left: 0%;
	width: 100vw;
}

.images2 .img3 {
	padding-left: 0%;
	padding: 1rem;
	
}

.images2 .img3 img {
	width: 100vw;

}

.images2 .img3 {
	padding-left: 29px;
}

.images3 .img1 {
	padding-left: 1rem;
	padding-bottom: 0.5rem;
}

.images3 .img1 img {
	width: 100vw;
}

.images5  {
 	margin-left: 0%;
}

.images5 .img1 img, .images5 .img3 img {
	width: 100vw;
}

.images5 .flex1	img3 {
	padding-bottom: 0%!important;
	margin-bottom: 0%!important;
}
.images5 .img3 {
	padding-top: 0%!important;
	margin-top: 0%!important;
	padding-bottom: 120px;
}

.black h1 {
	font-size: 1rem;
	letter-spacing: 0px;
	width: 70vw;
	padding-left: 4rem;
}

.slide__content {
	position: absolute;
	left: 5%;
	top: 50%;
	margin-left: -30px;
	margin-top: 48px;
	/* max-width: 480px; */
	color: #fff; 
	display:	flex;
	margin-left: 55px;
	margin-top: 11rem;
	width: 90vw;
	}

	.grad {
		z-index: 11;
		margin-top: 70vh;
		height: 30vh;
		width: 100%;
		background-image: linear-gradient(to bottom, transparent, black);
		opacity: 1;
	}

/*.textbox {


}

.buttonbox {
	
}*/


.slide__content{
	display: block;
	margin-left: 0px;
		margin-top: 3.5rem;
}

.butn {
		margin-left: 0rem;
		margin-top: 2rem;
		/*border-style: none;*/
		cursor: pointer;
}

.butn3 {
	margin-left: 0rem;
}

.butn5 {
	margin-left: 0rem;
}

}

